.tasty-recipes-design-settings {
	margin-bottom: 40px;
	display: flex;
	.tasty-recipes-card-preview-container {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		order: 2;
		iframe {
			margin: 20px;
			padding: 20px;
			box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.18);
			overflow-y: hidden;
			&.hidden {
				display: none;
			}
		}
		.tasty-recipes-card-chooser {
			display: flex;
			justify-content: center;
			svg {
				width: 24px;
				height: 24px;
				opacity: 0.2;
				&:hover {
					opacity: 0.4;
				}
			}
			button {
				background: none;
				border: none;
			}
			h3 {
				min-width: 320px;
				text-align: center;
			}
		}
	}
	.tasty-recipes-card-customization-container {
		margin-top: 20px;
		flex-basis: 35%;
		flex-grow: 1;
		@media screen and (min-width: 992px){
			margin-top: 60px;
		}
		hr {
			margin: 20px 0 30px 0;
		}
		.tasty-recipes-customizer-note {
			font-size: 11px;
		}
	}
	.tasty-recipes-card-customization-sticky {
		position: sticky;
		top: 0;
	}
	.tasty-recipes-card-field-container {
		display: flex;
		flex-wrap: wrap;
		fieldset {
			margin: 0 10px 10px 0;
			label {
				display: block;
				margin-bottom: 4px;
			}
		}
	}
	.w-full {
		width: 100%;
	}
	.color-picker {
		position: relative;
		display: inline-flex;
		height: fit-content;
		align-items: center;
	}
	.color-picker-container {
		border: 1px solid rgba(51,51,51,.5);
		border-radius: 50%;
		padding: 4px;
		margin-right: 4px;
	}
	.vc-chrome {
		position: absolute;
		top: 35px;
		left: 0;
		z-index: 9;
	}
	.color-picker-clear {
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
		border: 0;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		svg {
			height: 16px;
			width: 16px;
			opacity: 0.3;
			vertical-align: middle;
		}
	}
	.current-color {
		display: block;
		width: 20px;
		height: 20px;
		background: #ccc;
		background: linear-gradient(63deg, rgba(236,73,150,1) 27%, rgba(35,207,198,1) 76%);
		cursor: pointer;
		border-radius: 50%;
	}
	.current-color:before {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 50%;
	}
	.tasty-recipes-nutrifox-field-container {
		margin-top: 1em;
		background-color: #F2F2F2;
		border: 1px solid #E0E0E0;
		border-radius: 6px;
		padding-top: 12px;
		padding-bottom: 8px;
		padding-left: 12px;
		padding-right: 12px;
		@media screen and (min-width: 1080px){
			display: flex;
			justify-content: space-between;
		}
		h3 {
			margin-top: 0;
		}
		fieldset {
			label {
				margin-right: 8px;
				margin-bottom: 10px;
				display: inline-block;
				@media screen and (min-width: 1080px){
					margin-bottom: 0px;
				}
			}
		}
		.nutrifox-logo {
			display: block;
			text-align: right;
		}
		.nutrifox-try {
			margin-top: auto;
			font-weight: bold;
			display: block;
			font-size: 12px;
			text-decoration: none;
			text-align: right;
			&:hover {
				text-decoration: underline;
			}
			svg {
				margin-left: 4px;
				height: 11px;
				width: 11px;
			}
		}
		.nutrifox-cta {
			display: flex;
			flex-direction: column;
		}
		> div {
			margin-bottom: 8px;
		}
	}
}

